<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

</head>
<body>
    <div class="menu-side">
        <div class="account-section">
            <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>
        </div>
        <div class="web-nav">
            <p class="active">
                <span></span><a href="webplayer.html"><i class="bi bi-music-note-beamed"></i> Home</a>
            </p>
            <p>
                <span></span><a href="explore.html"><i class="bi bi-music-note-beamed"></i> Explore</a>
            </p>
            <p>
                <span></span><a href="#"><i class="bi bi-music-note-beamed"></i> Videos</a>
            </p>
        </div>
        <div class="my-collection">
            <p class="my-collection-tilte">MY COLLECTION</p>
            <p>
                <span></span><i class="fa-solid fa-podcast"></i> Mixes &
                Radio
            </p>
            <p>
                <span></span><i class="fa-solid fa-sliders"></i> Playlists
            </p>
            <p>
                <span></span><i class="fa-solid fa-compact-disc"></i> Albums
            </p>
            <p><span></span><i class="fa-solid fa-music"></i> Tracks</p>
            <p>
                <span></span><i class="fa-brands fa-youtube"></i> Videos
            </p>
            <p>
                <span></span><i class="fa-solid fa-microphone"></i> Artists
            </p>
        </div>
        <div class="create-playlist">
            <p class="create-playlist-title">
                PLAYLISTS
            </p>
            <div class="create-playlist-a">
                <a href="#" onclick="openModal()">
                    <span></span>
                    <i class="fa-solid fa-circle-plus"></i>
                    Create...
                </a>
            </div>
            <div class="log-out-a">
                <hr style="border-color: #595959; /* Màu đường kẻ */">
                <a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Log Out
                </a>
            </div>
            

        </div>


        <!-- Modal -->
        <div class="modal" id="playlistModal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Create Playlist</h2>
                <input type="text" id="name-playlist" placeholder="Enter playlist name" />
                <button id="submit-playlist">Create</button>
            </div>
        </div>
        <!-- Modal -->
        <!-- Modal Update -->
        <div class="modal-update" id="playlistUpdateModal">
            <div class="modal-content">
                <span class="close" onclick="closeModalUpdate()">&times;</span>
                <h2>Update Playlist</h2>
                <input type="text" id="name-playlist-update" placeholder="Enter playlist name" />
                <button id="update-playlist">Save</button>
            </div>
        </div>
        <!-- Modal Update -->
        <!-- Modal Add Song-->
        <div class="modal" id="addToPlaylistModal">
            <div class="modal-content">
                <span class="close" onclick="closeAddToPlaylistModal()">&times;</span>
                <h2>Add to Playlist</h2>
            </div>
        </div>
        <!-- Modal Add Song-->
    </div>
</body>